
<div class="section">
  <div class="container">
      <div class=" columns is-centered">

        <div class="column is-4">

          <h2 class="title is-2">Sign Up </h2>
          <%= render 'devise/registrations/form' %> 
          <%= render "devise/shared/links" %>
        </div>
      </div>
  </div>
</div>